.carousel-card  {
  height: 180px;
  position: relative;
  box-shadow: $shadow;
  .icon {
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    padding: 6px 6px;
    text-align: center;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    right: -20px;
    top: -20px;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: $shadow;
  }
  .image {
    background-size: cover;
    height: 66%;
  }
  .carousel-text {
    padding: 2px;
    padding-left: 20px;
    background-color: $background;

    p {
      margin: 3px 0;
    }

    small {
      margin-left: 10px;
    }
  }
}


@media only screen and (max-width: $Tablets) {
  .carousel-card  {
    height: 100px;
    margin: 20px;
    margin-top: 0px;

    .icon {
      top: -10px;
    }

    .carousel-text {
      padding: 10px;
      text-align: center;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .image {
      height: 100px;
      width: 60%;
    }

    a {
      display: flex;
      flex-direction: row;
    }
  }
}

// @media only screen and (max-width: $Phones) {
//   .carousel-card  {
//     height: 100px;
//     margin: 20px;
//     margin-top: 0px;

//     .icon {
//       top: -10px;
//     }

//     .carousel-text {
//       padding: 10px;
//       text-align: center;
//       width: 40%;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//     }

//     .image {
//       height: 100px;
//       width: 60%;
//     }

//     a {
//       display: flex;
//       flex-direction: row;
//     }
//   }
// }


