.carousel-card  {
  height: 180px;
  width: 20vw;
  position: relative;
  box-shadow: $shadow;
  .icon {
    position: absolute;
    font-size: 24px;
    line-height: 24px;
    padding: 6px 6px;
    text-align: center;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    right: -20px;
    top: -20px;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: $shadow;
  }
  .image {
    background-size: cover;
    height: 66%;
  }
  .text-container {
    padding: 2px;
    padding-left: 20px;
    background-color: $background;

    p {
      margin: 3px 0;
    }

    small {
      margin-left: 10px;
    }
  }
}
