.collection-cover {
  scroll-snap-align: start;
  border: 1px solid black;
  margin: 0 15px;
  padding: 10px;
  box-shadow: $shadow;
  min-width: 40%;

  img {
    width: 100%;
    object-fit: cover;
  }

  .collection-text {
    text-align: center;
    margin-top: 10px
  }
}

.gallery {
  padding: 150px;
  padding-bottom: 0px;
  img {
    object-fit: cover;
  }
}

@media only screen and (max-width: $Laptops) {
  .gallery {
    padding: 110px;
    padding-bottom: 50px;
  }

  .collection-cover {
    min-width: 45%;
  }
}

@media only screen and (max-width: $Tablets) {
  .gallery {
    padding: 80px;
    padding-bottom: 50px;
  }

  .collection-cover {
    min-width: 80%;
  }
}

.fullscreen {
  path {
    color:$background;
  }
}
