.project-card.left {
  flex-flow: row;
}

.project-card.right {
  flex-flow: row-reverse;
}

.project-card{
  margin: 0px auto 60px auto;
  display: flex;
  justify-content: space-around;

  .project-text {
    border-top: 1px solid black;
    padding-top: 10px;
    max-width: 40%;

    h2 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 2px;
    }
  }

  a {
    box-shadow: $shadow;
    min-width: 45%;

    .project-image {
      min-width: 100%;
    }
  }
}

@media only screen and (max-width: $Tablets) {
  .project-card {
    flex-flow: column !important;
    align-items: center;

    .project-text {
      max-width: 85%;
      border-top: 1px solid black;
      margin: 10px 30px;

      h2 {
        text-align: center;
        margin-bottom: 5px;
      }
    }

    a {
      box-shadow: $shadow;
      min-width: 70%;
      img {
        overflow: hidden;
        min-width: 100%;
      }
    }
  }
}
