.social-links {
  position: fixed;
  bottom: 40px;
  right: 45px;

  ul {
    display: flex;
    justify-content: space-evenly
  }

  a {
    font-size: 24px;
    padding: 15px;
  }
  button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

}
.contact-form {
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }
  p {
    margin: 10px;
    display: flex;
    flex-direction: column;
    label {
      font-family: Poppins;
      padding: 5px;
    }
    input {
      font-family: Poppins;
      min-height: 30px;
      padding: 5px;
      border: 1px solid gainsboro;
    }
    textarea{
      font-family: Poppins;
      min-height: 50px;
      padding: 5px;
      border: 1px solid gainsboro;
    }
  }
  button {
    width: 40%;
    padding: 1px;
    margin: 0 auto;
    border: 1px solid gainsboro;
    background: white;
    font-family: Poppins;
  }
}

@media only screen and (max-width: $Phones) {
  .social-links {
    right: 15px;
    bottom: 10px;

    a {
    font-size: 24px;
    padding: 2vw;
    }
  }
}

@media only screen and (min-width: $Laptops-big) {
  .social-links {
    a {
      font-size: 2em;
    }
  }
}
