.topnav-container {
  width: 100vw;
  position: fixed;

  .top-link {
    padding: 3%;
    float: left;
    position: relative;
    left: 45px;
    font-size: 24px;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 900;

  }

  ul {
    padding: 3%;
    float: right;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
  }

  a {
    text-decoration: none;
  }
}

@media only screen and (max-width: $Tablets) {
  .topnav-container {
    .top-link {
      left: 10px;
    }

    ul {
      width: 75%;
    }
  }
}

@media only screen and (max-width: $Phones) {
  .topnav-container {
    margin-top: 10px;
    width: 100%;
    .top-link {
      left: 10px;
    }

    ul {
      width: 75%;
      padding-right: 3%;
      padding-top: 3.5%;
    }
  }
}
