.topnav-container {
  padding: 3%;
  width: 60vw;
  position: fixed;
  right: 0;

  .top-link {
    position: absolute;
    font-size: 24px;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 900;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
  }

  a {
    text-decoration: none;
  }
}


