.upcomingshows-container {
  top: 120px;
  right: 13%;
  position: absolute;
  display: none;
}

.hello-text {
  top: 180px;
  left: 33vw;
  position: absolute;

  h2{
    margin-left: 20px;
  }
}

.resume {
  position: fixed;
  bottom: 40px;
  left: 33vw;
  a {
    font-size: 24px;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 900;
  }
}
