.upcomingshows-container {
  top: 120px;
  right: 13%;
  position: absolute;
  // display: none;
}

.hello-text {
  top: 200px;
  left: 25vw;
  position: absolute;

  h2{
    margin-left: 20px;
  }
}
