* {
  margin: 0;
  padding: 0;
  color: black;
  background-color: $background;
}

h1, h2, h3 {
  font-family: Poppins;
}

p, a, small {
  font-family: Asap;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}

.static-object > * {
  z-index: 1;
}

.page-section {
  height: 100vh;
  position: relative;
  z-index: 0;
}
