html {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
}

body {
  background-color: $background;
}

* {
  margin: 0;
  padding: 0;
  color: black;
}

h1, h2, h3 {
  font-family: Poppins;
  background-color: rgba(0,0,0,0);
}

p, a, small {
  font-family: Asap;
}

a {
  text-decoration: none;
  background-color: rgba(0,0,0,0);
}

ul {
  list-style: none;
  background-color: rgba(0,0,0,0);
}

div, svg, li {
  background-color: rgba(0,0,0,0);
}

@media only screen and (max-width: $Tablets) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: $Phones) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: .85em;
  }

  p, small {
    font-size: 0.75em;
  }
}

@media only screen and (min-width: $Laptops-big) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 2em;
  }

  p, small {
    font-size: 1.5em;
  }
}
