* {
  margin: 0;
  padding: 0;
  color: black;
  background-color: $background;
}

h1, h2 {
  font-family: Poppins;
}

p, a{
  font-family: Asap;
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}
