.heading {
  margin-top: 100px;
  margin-left: 120px;
}

.static-object > * {
  z-index: 1;
}

.page-section {
  min-height: 100vh;
  position: relative;
  padding: 20px;
  margin-bottom: 50px;
}

@media only screen and (max-width: $Tablets) {
.page-section {
}
  .heading {
    text-align: center;
    margin-left: 0px;
  }
}
