// Colors
$background: #F5F5F5;
$caroselgrey: #E9E9E9;

// Breakpoints (max width)
$Laptops: 1200px;
$Tablets: 770px;
$Phones: 500px;

// Breakpoints (min width)
$Laptops-big: 1800px;

// Box properties
$shadow: 3px 3px 20px rgba(0,0,0,0.15);
