#music{
  .heading {
    top: 100px;
    margin-left: 5vw;
    position: relative;

    h1{
      margin-left: 20px;
    }
  }
}

.music-container {
  display: flex;
  position: relative;
  top: 150px;
  width: 80vw;
  margin: 0 auto;
  overflow: scroll;
}
