#music{
  .heading {
    top: 100px;
    margin-left: 5vw;
    position: relative;

    h1{
      margin-left: 20px;
    }
  }
}

.music-container {
  position: relative;
  top: 150px;
  width: 70vw;
  margin: 20px auto;
  overflow: auto;
}
