.photo-collections {
  scroll-snap-type: x mandatory;
  margin: 4% auto 8% auto;
  display: flex;
  max-width: 90vw;
  overflow-x: scroll;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.picture {
  margin: 0px 10px 10px 0px;
}

@media only screen and (max-width: $Laptops) {
  .photo-collections {
    margin: 60px auto 7% auto;
  }
}

@media only screen and (max-width: $Tablets) {
  .photo-collections {
    margin: 5% auto 100px auto;
  }
}

@media only screen and (max-width: $Phones) {
  .photo-collections {
    margin: 25% auto 75px auto;
  }
}

@media only screen and (min-width: $Laptops-big) {
  .photo-collections {
    margin: 4% auto 75px auto;
  }
}
