.photo-collections {
  scroll-snap-type: x mandatory;
  margin: 7% auto 75px auto;
  display: flex;
  max-width: 90vw;
  overflow-x: scroll;
}

@media only screen and (max-width: $Tablets) {
  .photo-collections {
    margin: 12% auto 75px auto;
  }
}

@media only screen and (max-width: $Phones) {
  .photo-collections {
    margin: 25% auto 75px auto;
  }
}

@media only screen and (min-width: $Laptops-big) {
  .photo-collections {
    margin: 4% auto 75px auto;
  }
}
