.photo-collections {
  margin: 75px auto 75px auto;
  display: flex;
  max-width: 90vw;
  overflow: scroll;
}

@media only screen and (max-width: $Tablets) {
  .photo-collections {
    margin: 100px auto 75px auto;
  }
}
