.project-container {
  position: relative;
  top: 150px;
  width: 1050px;
  margin: 20px auto;
  overflow: auto;
}

@media only screen and (max-width: $Laptops) {
  .project-container {
    top: 100px;
    width: 90vw;
  }
}
