.hello-text {
  margin-top: 12%;
  margin-left: 12%;
}

.recent-projects {
  margin: 8% auto;
  max-width: 95%;

  h3 {
    margin-left: 10%;
    margin-bottom: 1%;
  }

  ul {
    display: flex;
    justify-content: space-evenly;

    li {
      width: 24%;
    }
  }
}

@media only screen and (max-width: $Laptops) {
  .recent-projects {
    margin: 15% auto;
    max-width: 100%;
    ul {
      li {
        width: 29%;
      }
    }
  }
}

@media only screen and (max-width: $Tablets) {
  .hello-text {
    margin-top: 16%;
  }
  .recent-projects {
    margin: 10% auto;
    ul {
      flex-direction: column;
      align-items: center;
      li {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: $Phones) {
  .hello-text {
    margin-top: 22%;
  }
  .recent-projects {
    margin: 10% auto;
    max-width: 85%;
    ul {
      flex-direction: column;
      align-items: center;
      height: 42vh;
      li {
        height: 25%;
        width: 100%;
      }
    }
  }
}
