.hello-text {
  margin-top: 12%;
  margin-left: 12%;
}

.recent-projects {
  margin: 7% auto;
  max-width: 90%;

  h3 {
    margin-left: 10%;
    margin-bottom: 1%;
  }

  ul {
    display: flex;
    justify-content: space-evenly;

    li {
      width: 24%;
    }
  }
}
