.upcomingshows-container {
  top: 120px;
  right: 13%;
  position: absolute;
  display: none;
}

.hello-text {
  top: 175px;
  width: 60vw;
  margin: 0 auto;
  position: relative;
  right: 5vw;
}

.recent-projects {
  top: 325px;
  position: relative;
  margin: auto;
  width: 80vw;

  h3 {
    position: relative;
    left: 7vw;
    bottom: 20px;
  }

  ul {
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    position: relative;
  }
}
